/*-----------------------------------------------------------------------------------

	CSSThink v0.1.2
	Copyright 2016-2017 CSSThink
	Author: Ucool.Hu
	Update: 2017.05.07
	From: Bootstrap&Pure&Flat-ui&type.css
	
-----------------------------------------------------------------------------------*/
@charset "gbk";

/* ============== BASE ============== */
html {font-family:sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {margin: 0;padding: 0;}
/* --- HTML5 display definitions --- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none !important;}
/* --- Links --- */
a {background-color: transparent;text-decoration: none !important;}
a:active,a:hover {outline: 0;}
/* --- Text-level semantics --- */
acronym,abbr[title] {border-bottom: 1px dotted;font-variant: normal;}
abbr {cursor: help;}
b,strong {font-weight: bold;color: #000;}
u {text-decoration: underline;}
dfn {font-style: italic;}
h1 {margin: .67em 0;font-size: 2em;}
mark {background: #fffdd1;border-bottom: 1px solid #ffedce;padding: 2px;margin: 0 5px;}
small,figcaption {font-size: 80%;color: #888;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
del {text-decoration: line-through;}
blockquote {position: relative;color: #999;font-weight: 400;border-left: 1px solid #1abc9c;padding-left: 1em;margin: 1em 3em 1em 2em;}
@media only screen and ( max-width: 640px ) {
	blockquote {margin: 1em 0;}
}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: 400;}
ul, ol {list-style: none;}
/* --- Embedded content --- */
img {border: 0;}
svg:not(:root) {overflow: hidden;}
/* --- Grouping content --- */
figure {margin: 1em 40px;}
hr {height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
pre {overflow: auto;background: #f8f8f8;border: 1px solid #ddd;padding: 1em 1.5em;display: block;-webkit-overflow-scrolling: touch;}
code,kbd,pre,samp {font-family: monospace,Courier,'Courier New';font-size: 1em;}
[draggable] {cursor: move;}
/* --- Forms --- */
button,input,optgroup,select,textarea {margin: 0;font: inherit;color: inherit;}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: not-allowed;}
button::-moz-focus-inner,input::-moz-focus-inner {padding: 0;border: 0;}
input {line-height: normal;}
input[type="checkbox"],
input[type="radio"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {padding: .35em .625em .75em;margin: 0 2px;border: 1px solid #c0c0c0;}
legend {padding: 0;border: 0;}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
/* --- Tables --- */
table {border-spacing: 0;border-collapse: collapse;}
td,th {padding: 0;}


/* ============== CSSThink Default ============== */
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);color: #333;background: #fff;}
body, button, input, select, textarea {font: 400 12px/1.8 'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;}

::selection {background: #c80500;color: #fff;text-shadow: none;}
::-moz-selection {background: #c80500;color: #fff;text-shadow: none;} /* Firefox */
::-webkit-selection {background: #c80500;color: #fff;text-shadow: none;} /* Safari */
:active,:focus { outline: none !important; }

.bgcolor { background-color: #c80500 !important; }
.color { color: #c80500 !important; }
.border-color { border-color: #c80500 !important; }

ins, a {text-decoration: none;}
a {color: #444;}
a:hover,a:focus {color: #c80500;text-decoration: underline;}
a:focus {outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}

input,button,select,textarea {font-family: inherit;font-size: inherit;line-height: inherit;}
dl,dt,dd,ol,ul,li {margin: 0;padding: 0;}
hr {border: none;font-size: 0;border-top: 1px solid #eee;margin-bottom: 0.8em;height: 10px;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family: inherit;color: inherit;font-weight: 600;line-height: 1..35;color: #000;margin-top: 1.2em;margin-bottom: 0.6em;}
h4,h5,h6,.h4,.h5,.h6 {margin-top: 0.6em;margin-bottom: 0.6em;}
h1,.h1 {font-size: 2em;}
h2,.h2 {font-size: 1.8em;}
h3,.h3 {font-size: 1.6em;}
h4,.h4 {font-size: 1.4em;}
h5,.h5 {font-size: 1.2em;}
h6,.h6 {font-size: 1.2em;}
p {margin: 0 0 1em;font-size: 1em}
pre,ul,ol,dl,dd,blockquote,address,table,fieldset,form,table { margin-bottom: 1.2em; }

.ellipsis {overflow: hidden;text-overflow: ellipsis;}
.ellipsis-line2 {overflow: hidden;text-overflow: ellipsis;display: box;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.ellipsis-line3 {overflow: hidden;text-overflow: ellipsis;display: box;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}

img {vertical-align: middle;display: block;max-width: 100%;height: auto;}
.img-full,.img-full img {width: 100% ;height: auto;}
.img-rounded {border-radius: 6px;}
.img-thumbnail {display: inline-block;max-width: 100%;height: auto;padding: 4px;line-height: 1.5;background-color: #fff;border: 1px solid #ddd;border-radius: 4px;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.img-circle {border-radius: 50%;}

.clear {clear: both;display: block;font-size: 0px;height: 0px;line-height: 0;width: 100%;overflow:hidden;}
.hidden { display: none !important; }
.nothidden { display: block !important; }

.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

.textwrap, .textwrap td, .textwrap th {word-wrap: break-word;word-break: break-all;}
.textwrap-table {table-layout: fixed;}
.serif {font-family: Palatino, Optima, Georgia, serif;}

.nowrap {white-space: nowrap;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.uppercase { text-transform: uppercase !important; }

.right { text-align: right !important; }
.left { text-align: left !important; }
.center {text-align: center !important;}

.fright { float: right !important; }
.fleft { float: left !important; }
.fnone { float: none !important; }
.ohidden {position: relative;overflow: hidden !important;}
.inline-block {float: none !important;display: inline-block !important;}
.divcenter {position: relative !important;float: none !important;margin-left: auto !important;margin-right: auto !important;}

.nobg { background: none !important; }
.nobgcolor { background-color: transparent !important; }

.line,
.double-line {clear: both;position: relative;width: 100%;margin: 40px 0;border-top: 1px solid #eee;}
.line.line-sm { margin: 20px 0; }
.middot {display: inline-block;margin: 0 5px;}
.double-line { border-top: 3px double #eee; }
.emptydiv {display: block !important;position: relative !important;}

.allmargin { margin: 30px !important; }
.leftmargin { margin-left: 30px !important; }
.rightmargin { margin-right: 30px !important; }
.topmargin { margin-top: 30px !important; }
.bottommargin { margin-bottom: 30px !important; }
.clear-bottommargin { margin-bottom: -30px !important; }

.allmargin-sm { margin: 15px !important; }
.leftmargin-sm { margin-left: 15px !important; }
.rightmargin-sm { margin-right: 15px !important; }
.topmargin-sm { margin-top: 15px !important; }
.bottommargin-sm { margin-bottom: 15px !important; }
.clear-bottommargin-sm { margin-bottom: -15px !important; }

.allmargin-lg { margin: 50px !important; }
.leftmargin-lg { margin-left: 50px !important; }
.rightmargin-lg { margin-right: 50px !important; }
.topmargin-lg { margin-top: 50px !important; }
.bottommargin-lg { margin-bottom: 50px !important; }
.clear-bottommargin-lg { margin-bottom: -50px !important; }

.nomargin {margin: 0 !important; }
.noleftmargin { margin-left: 0 !important; }
.norightmargin { margin-right: 0 !important; }
.notopmargin { margin-top: 0 !important; }
.nobottommargin { margin-bottom: 0 !important; }

.noborder { border: none !important; }
.noleftborder { border-left: none !important; }
.norightborder { border-right: none !important; }
.notopborder { border-top: none !important; }
.nobottomborder { border-bottom: none !important; }

.noradius { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; }

.padding { padding: 15px; }
.nopadding { padding: 0 !important; }
.noleftpadding { padding-left: 0 !important; }
.norightpadding { padding-right: 0 !important; }
.notoppadding { padding-top: 0 !important; }
.nobottompadding { padding-bottom: 0 !important; }
.noabsolute { position: relative !important; }
.noshadow { box-shadow: none !important; }

/* ============== CSSThink Print ============== */
@media print {
  *,*:before,*:after {color: #000 !important;text-shadow: none !important;background: transparent !important;-webkit-box-shadow: none !important;box-shadow: none !important;}
  a,a:visited {text-decoration: underline;}
  a[href]:after {content: " (" attr(href) ")";}
  abbr[title]:after {content: " (" attr(title) ")";}
  a[href^="#"]:after,a[href^="javascript:"]:after {content: "";}
  pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
  thead {display: table-header-group;}
  tr,img {page-break-inside: avoid;}
  img {max-width: 100% !important;}
  p,h2,h3 {orphans: 3;widows: 3;}
  h2,h3 {page-break-after: avoid;}
  .label {border: 1px solid #000;}
  .table {border-collapse: collapse !important;}
  .table td,
  .table th {background-color: #fff !important;}
  .table-bordered th,.table-bordered td {border: 1px solid #ddd !important;}
}

/* ============== CSSThink Grid ============== */
.col_full { width: 100%; }
.col_half { width: 49%; }
.col_one_third { width: 32%; }
.col_two_third { width: 66%; }
.col_one_fourth { width: 23.5%; }
.col_three_fourth { width: 74.5%; }
.col_one_fifth { width: 18.4%; }
.col_two_fifth { width: 38.8%; }
.col_three_fifth { width: 59.2%; }
.col_four_fifth { width: 79.6%; }
.col_one_sixth { width: 15%; }
.col_five_sixth { width: 83%; }

.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth {display: block;position: relative;margin-left: 2%;margin-bottom: 20px;float: left;min-height: 1px;}

.col_full {clear: both;float: none;margin-left: 0 !important;}
.col_first,.col_block [class^="col_"]:first-child,.col_block [class*=" col_"]:first-child {margin-left: 0 !important;clear: left;}

.col_nomargin [class^="col_"],.col_nomargin [class*=" col_"] {margin-left: 0 !important;}
.col_two_list {width: 50%;}
.col_three_list {width: 33.33%;}
.col_four_list {width: 25%;}
.col_five_list {width: 20%;}
.col_six_list {width: 16.66%;}

@media (max-width: 991px) {
	.col_full,.col_half,.col_one_third,.col_two_third,.col_three_fourth,.col_one_fourth,.col_one_fifth,.col_two_fifth,.col_three_fifth,.col_four_fifth,.col_one_sixth,.col_five_sixth {width: 100%;margin-left: 0;float: none;}
}


.col-grid {letter-spacing: -0.31em;*letter-spacing: normal;*word-spacing: -0.43em;text-rendering: optimizespeed;display: -webkit-flex;-webkit-flex-flow: row wrap;display: -ms-flexbox;-ms-flex-flow: row wrap;-ms-align-content: flex-start;-webkit-align-content: flex-start;align-content: flex-start;}
.col-grid [class^= "col-"],.col-grid [class*=" col-"] {display: inline-block;*display: inline;zoom: 1;letter-spacing: normal;word-spacing: normal;vertical-align: top;text-rendering: auto;}
.col-1-24 {width: 4.1667%;*width: 4.1357%;}
.col-1-12,.col-2-24 {width: 8.3333%;*width: 8.3023%;}
.col-1-8,.col-3-24 {width: 12.5000%;*width: 12.4690%;}
.col-1-6,.col-4-24 {width: 16.6667%;*width: 16.6357%;}
.col-1-5 {width: 20%;*width: 19.9690%;}
.col-5-24 {width: 20.8333%;*width: 20.8023%;}
.col-1-4,.col-6-24 {width: 25%;*width: 24.9690%;}
.col-7-24 {width: 29.1667%;*width: 29.1357%;}
.col-1-3,.col-8-24 {width: 33.3333%;*width: 33.3023%;}
.col-3-8,.col-9-24 {width: 37.5000%;*width: 37.4690%;}
.col-2-5 {width: 40%;*width: 39.9690%;}
.col-5-12,.col-10-24 {width: 41.6667%;*width: 41.6357%;}
.col-11-24 {width: 45.8333%;*width: 45.8023%;}
.col-1-2,.col-12-24 {width: 50%;*width: 49.9690%;}
.col-13-24 {width: 54.1667%;*width: 54.1357%;}
.col-7-12,.col-14-24 {width: 58.3333%;*width: 58.3023%;}
.col-3-5 {width: 60%;*width: 59.9690%;}
.col-5-8,.col-15-24 {width: 62.5000%;*width: 62.4690%;}
.col-2-3,.col-16-24 {width: 66.6667%;*width: 66.6357%;}
.col-17-24 {width: 70.8333%;*width: 70.8023%;}
.col-3-4,.col-18-24 {width: 75%;*width: 74.9690%;}
.col-19-24 {width: 79.1667%;*width: 79.1357%;}
.col-4-5 {width: 80%;*width: 79.9690%;}
.col-5-6,.col-20-24 {width: 83.3333%;*width: 83.3023%;}
.col-7-8,.col-21-24 {width: 87.5000%;*width: 87.4690%;}
.col-11-12,.col-22-24 {width: 91.6667%;*width: 91.6357%;}
.col-23-24 {width: 95.8333%;*width: 95.8023%;}
.col-1,.col-1-1,.col-5-5,.col-24-24 {width: 100%;}

/* ============== CSSThink Tables ============== */
table {background-color: transparent;}
caption, th {text-align: left;}
.table-full {width: 100%;max-width: 100%;margin-bottom: 20px;}
.table {border-collapse: collapse;border-spacing: 1px;empty-cells: show;border: 1px solid #cbcbcb; }
.table caption {padding: 1em 0;color: #000;text-align: center;}
.table td,.table th {border-left: 1px solid #cbcbcb;border-width: 0 0 0 1px;font-size: inherit;margin: 0;overflow: visible;padding: 0.5em 1em;}
.table td:first-child,.table th:first-child {border-left-width: 0;}
.table thead {background-color: #ddd;color: #000;text-align: left;vertical-align: bottom;}
.table td {background-color: transparent;}
.table-odd td {background-color: #f3f3f3;}
.table-striped > tbody > tr:nth-of-type(odd) {background-color: #f3f3f3;}
.table-hover > tbody > tr:hover {background-color: #e5e5e5;}
.table-bordered td {border-bottom: 1px solid #cbcbcb;}
.table-bordered tbody > tr:last-child > td,.table-bordered tbody > tr:last-child > td {border-bottom-width: 0;}
.table-horizontal td,.table-horizontal th {border-width: 0 0 1px 0;border-bottom: 1px solid #cbcbcb;}
.table-horizontal tbody > tr:last-child > td {border-bottom-width: 0;}
.table-responsive {min-height: .01%;overflow-x: auto;}
@media screen and (max-width: 767px) {
  .table-responsive {width: 100%;margin-bottom: 15px;overflow-y: hidden;-ms-overflow-style: -ms-autohiding-scrollbar;border: 1px solid #ddd;}
  .table-responsive > .table {margin-bottom: 0;border-width: 0;border-top-width: 1px;}
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {white-space: nowrap;}
  .table-responsive > .table-bordered {border: 0;}
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {border-left-width: 0;}
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {border-right-width: 0;}
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {border-bottom-width: 0;}
}
/* ============== CSSThink Forum ============== */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {padding: 0.3em 0.6em;display: inline-block;border: 1px solid #ccc;box-shadow: inset 0 1px 3px #ddd;border-radius: 4px;vertical-align: middle;box-sizing: border-box;}
.form input:not([type]) {padding: 0.5em 0.6em;display: inline-block;border: 1px solid #ccc;box-shadow: inset 0 1px 3px #ddd;border-radius: 4px;box-sizing: border-box;}
.form input[type="color"] {padding: 0.2em 0.5em;}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {outline: 0;border-color: #129FEA;}
.form input:not([type]):focus {outline: 0;border-color: #129FEA;}

.form input[type="file"]:focus,
.form input[type="radio"]:focus,
.form input[type="checkbox"]:focus {outline: thin solid #129FEA;outline: 1px auto #129FEA;}
.form .checkbox,
.form .radio {margin: 0.5em 0;display: block;}

.form input[type="text"][disabled],
.form input[type="password"][disabled],
.form input[type="email"][disabled],
.form input[type="url"][disabled],
.form input[type="date"][disabled],
.form input[type="month"][disabled],
.form input[type="time"][disabled],
.form input[type="datetime"][disabled],
.form input[type="datetime-local"][disabled],
.form input[type="week"][disabled],
.form input[type="number"][disabled],
.form input[type="search"][disabled],
.form input[type="tel"][disabled],
.form input[type="color"][disabled],
.form select[disabled],
.form textarea[disabled] {cursor: not-allowed;background-color: #eaeded;color: #cad2d3;}
.form input:not([type])[disabled] {cursor: not-allowed;background-color: #eaeded;color: #cad2d3;}
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {background-color: #eee;color: #777;border-color: #ccc;}

.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {color: #b94a48;border-color: #e9322d;}
.form input[type="file"]:focus:invalid:focus,
.form input[type="radio"]:focus:invalid:focus,
.form input[type="checkbox"]:focus:invalid:focus {outline-color: #e9322d;}
.form select {height: 2.25em;border: 1px solid #ccc;background-color: white;}
.form select[multiple] {height: auto;}
.form label {margin: 0.5em 0 0.2em;}
.form fieldset {margin: 0;padding: 0.35em 0 0.75em;border: 0;}
.form legend {display: block;width: 100%;padding: 0.3em 0;margin-bottom: 0.3em;color: #333;border-bottom: 1px solid #e5e5e5;}

.form ::-moz-placeholder {color: #ccc;opacity: 1;}
.form :-ms-input-placeholder {color: #ccc;}
.form ::-webkit-input-placeholder {color: #ccc;}

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {display: block;margin: 0.25em 0;}
.form-stacked input:not([type]) {display: block;margin: 0.25em 0;}
.form-aligned input,
.form-aligned textarea,
.form-aligned select,
.form-aligned .help-inline,
.form-message-inline {display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;}
.form-aligned textarea {vertical-align: top;}
.form-aligned .control-group {margin-bottom: 0.5em;}
.form-aligned .control-group label {text-align: right;display: inline-block;vertical-align: middle;width: 10em;margin: 0 1em 0 0;}
.form-aligned .controls {margin: 1.5em 0 0 11em;}
.form input.input-rounded,
.form .input-rounded {border-radius: 2em;padding: 0.5em 1em;}
.form .group fieldset {margin-bottom: 10px;}
.form .group input,
.form .group textarea {display: block;padding: 10px;margin: 0 0 -1px;border-radius: 0;position: relative;top: -1px;}
.form .group input:focus,
.form .group textarea:focus {z-index: 3;}
.form .group input:first-child,
.form .group textarea:first-child {top: 1px;border-radius: 4px 4px 0 0;margin: 0;}
.form .group input:first-child:last-child,
.form .group textarea:first-child:last-child {top: 1px;border-radius: 4px;margin: 0;}
.form .group input:last-child,
.form .group textarea:last-child {top: -2px;border-radius: 0 0 4px 4px;margin: 0;}
.form .group button {margin: 0.35em 0;}
.form .input-1 {width: 100%;}
.form .input-3-4 {width: 75%;}
.form .input-2-3 {width: 66%;}
.form .input-1-2 {width: 50%;}
.form .input-1-3 {width: 33%;}
.form .input-1-4 {width: 25%;}

.form .help-inline,
.form-message-inline {display: inline-block;padding-left: 0.3em;color: #666;vertical-align: middle;font-size: 0.875em;}
.form-message {display: block;color: #666;font-size: 0.875em;}

@media only screen and (max-width : 480px) {
    .form button[type="submit"] {margin: 0.7em 0 0;}
    .form input:not([type]),
    .form input[type="text"],
    .form input[type="password"],
    .form input[type="email"],
    .form input[type="url"],
    .form input[type="date"],
    .form input[type="month"],
    .form input[type="time"],
    .form input[type="datetime"],
    .form input[type="datetime-local"],
    .form input[type="week"],
    .form input[type="number"],
    .form input[type="search"],
    .form input[type="tel"],
    .form input[type="color"],
    .form label {margin-bottom: 0.3em;display: block;}

    .group input:not([type]),
    .group input[type="text"],
    .group input[type="password"],
    .group input[type="email"],
    .group input[type="url"],
    .group input[type="date"],
    .group input[type="month"],
    .group input[type="time"],
    .group input[type="datetime"],
    .group input[type="datetime-local"],
    .group input[type="week"],
    .group input[type="number"],
    .group input[type="search"],
    .group input[type="tel"],
    .group input[type="color"] {margin-bottom: 0;}

    .form-aligned .control-group label {margin-bottom: 0.3em;text-align: left;display: block;width: 100%;}
    .form-aligned .controls {margin: 1.5em 0 0 0;}
    .form .help-inline,
    .form-message-inline,
    .form-message {display: block;font-size: 0.75em;padding: 0.2em 0 0.8em;}
}


/* ============== CSSThink Button ============== */
.btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.btn {
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em 1.5em;
    color: #444;
    color: rgba(0, 0, 0, 0.80);
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 4px;
    -webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          	transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.btn-xs {font-size: 0.7em;}
.btn-sm {font-size: 0.85em;}
.btn-lg {font-size: 1.1em;}
.btn-xl {font-size: 1.25em;}
.btn:focus {outline: 0;}
.btn-active,
.btn:active {box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;border-color: #000\9;}
.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}
.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {background-color: #1ABC9C;color: #fff;}
.btn-success,
.btn-danger,
.btn-warning,
.btn-secondary {color: white;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.btn-success {background: #2ECC71; }
.btn-danger {background: #E74C3C;}
.btn-warning {background: #F1C40F;}
.btn-secondary {background: #3498DB;}

.btn-block {display: block;width: 100%;}
.btn-block + .btn-block {margin-top: 5px;}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {width: 100%;}

/* ============== CSSThink Content ============== */

/* Container */
.container {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
@media (min-width: 768px) {
	.container {width: 750px;}
}
@media (min-width: 992px) {
	.container {width: 970px;}
}
@media (min-width: 1200px) {
	.container {width: 1170px;}
}
.container:before,.container:after {display: table;content: " ";}

/* PageContent */
.page-content ul {margin-left: 1.3em;list-style: disc;}
.page-content ol {list-style: decimal;margin-left: 1.9em;}
.page-content li ul, .page-content li ol {margin-bottom: 0.8em;margin-left: 2em;}
.page-content li ul {list-style: circle;}

.page-content a {border-bottom: 1px solid #23527c;}
.page-content a:hover {border-bottom-color: #333;color: #333;text-decoration: none;}


.page-content em,.em {position: relative;}
.page-content em:after,.em:after {position: absolute;top: 0.65em;left: 0;width: 100%;overflow: hidden;white-space: nowrap;
  content: "¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤¡¤";
}

/* PageHere */
.page-here {padding: 12px 15px;border-radius: 5px;background: #f3f3f3;border: 1px solid #ccc;}
.page-here p {margin-bottom: 0;}
.page-here p span {margin-right: 1em;}
.page-here p i {margin: 0 6px;}
.page-header {padding-bottom: 10px;margin: 40px 0 20px;}

/* Pagination */
.pagination {display: inline-block;padding-left: 0;margin: 1em 0;border-radius: 4px;}
.pagination > li {display: inline;}
.pagination > li > a,
.pagination > li > span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #333;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.pagination > li:first-child > a,
.pagination > li:first-child > span {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.pagination > li:last-child > a,
.pagination > li:last-child > span {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {z-index: 2;color: #df0024;background-color: #eee;border-color: #ddd;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {z-index: 3;color: #fff;cursor: default;background-color: #df0024;border-color: #c00;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd;}

/* Footer */
.footer {width:100%;display:block;}
.footer p {line-height: 1.35em;font-size: .8em;;margin-bottom: 0;}
.footer p a {margin: 0 4px;}
.footer p span {margin-left: 1em;}





