@charset "gbk";


/* ---------- 标志 ---------- */

#logo {position: relative;float: left;font-size: 36px;line-height: 100%;margin-right: 20px;}
#header.full-header #logo {padding-right: 30px;margin-right: 30px;}

#logo a {display: block;color: #000;}
#logo img {display: block;max-width: 100%;}
#logo a.standard-logo,#logo a.light-logo,.dark #logo a.dark-logo { display: block; }
#logo a.retina-logo,#logo a.dark-logo,.dark #logo a.light-logo { display: none; }


/* ---------- 页面头部 ---------- */
#header {position: relative;z-index: 100;}
#header .container { position: relative; }
#header.transparent-header {background: transparent;border-bottom: none;z-index: 199;}

#header.transparent-header + #slider,
#header.transparent-header + #page-title.page-title-parallax {top: -100px;margin-bottom: -100px;}

#header,
#header-wrap,
#logo img {
	height: 124px;
	-webkit-transition: height .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, opacity .3s ease;
	transition: height .4s ease, opacity .3s ease;
}
#logo img {height: 50px;margin-top: 15px;}
#header-wrap h1 {margin: 10px 0 0 0;font-size: 32px;}
#header-wrap h1 a {color: #165a9b;text-shadow:0 2px 3px rgba(0, 0, 0, 0.2);}
/* ---------- 头部菜单 ---------- */
.navbox {background: #39a0ce;box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);height: 46px;margin-top: 0;position: relative;top: 15px;}

#primary-menu {z-index: 300;height: 46px;}
#primary-menu ul {list-style: none;height: 46px;}
#primary-menu ul li {position: relative;float: left;}
#primary-menu ul li:first-child { margin-left: 0;}
#primary-menu ul li a {
	display: block;
	padding: 9px 20px;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease, background .4s ease;
	-o-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease, background .4s ease;
	transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease, background .4s ease;
}
#primary-menu > ul > li:hover a,#primary-menu > ul > li a:hover {background: #165a9b;color: #fff;}
#primary-menu > ul > li.current a,#primary-menu > ul > li a.current { background: #1866a4;color: #fff;}

/* ---------- Flexslider ---------- */
#slider {position: relative;width: 100%;overflow: hidden;height: 320px;}
.flexslider [draggable] {cursor: pointer;}
#slider .flex-control-paging {display: none;}

#picslider {overflow: hidden;}
#picslider .flexslider .slides,#picslider .flexslider .slides li { height: auto;}
#picslider .flexslider .slides li {margin: 0 1px 0 0;}
#picslider .flex-direction-nav a {width: 28px; height: 28px;line-height: 28px; margin: -28px 0 0;color: rgba(0,0,0,0.5);background-color: rgba(255, 255, 255, 0.8);margin-top: -14px;}
#picslider .flex-direction-nav a:before {font-size: 18px;}

/* ---------- 内容区域 ---------- */

.content-box {margin-top: 20px;}
.content-box h3 {color: #fff;font-weight: 600;font-size: 16px;border-left: 4px solid #1866a4;position: relative;background: #39a0ce;padding: 3px 6px;margin-top: 0;}
.content-box h3 span {position: relative;}
.content-box ul,.content-box img {margin-top: 8px;margin-bottom: 0 !important;}
.content-box ul {margin-top: 6px;}
.content-box ul li {list-style: none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size: 14px;line-height: 2.2em;}
.content-box h3 em {position: absolute;top: 4px;right: 4px;font-size: 12px;font-weight: 400;}
.content-box h3 em a {color: #fff;}
.content-box h3 em a:hover {color: #444;}
.content-box .col_three_fourth,.content-box .col_one_fourth {margin-bottom: 0 !important;}

.flink ul li {width: 50%;float: left;}
.flink ul li a {width: 100%;display: block;padding: 0 4px;}
.flink ul li a:hover {background: #ccc;}

.content-right .content-box h3,.content-left .content-box h3 {background: #ccc;color: #333;border-color: #39a0ce;}
.content-right .content-box h3 em a,.content-left .content-box h3 em a {color: #777;}
.content-right .content-box h3 em a:hover,.content-left .content-box h3 em a:hover {color: #333;}

.cmargin {margin-left:10px;margin-right: 10px;}
.rmargin {margin-top: 18px;}

.content-item {border: 1px solid #e6e6e6;margin-top: 10px;}
.content-item h3 {background: #f7e2b6;color: #be001a;margin: 0;padding: 6px 10px;font-size: 16px;}

.content-link {margin-top: 20px;}
.content-link ul {list-style: none;margin-bottom:0;}
.content-link li {height: 42px;margin-bottom:0;width:100%;}
.content-link li a {display: block;color: #fff;font-size: 18px;text-align: center;line-height: 40px;}
.content-link li i {margin-right: 6px;}

.bg1 {background: #fc9437;}
.bg2 {background: #33ace2;}
.bg3 {background: #4ab4b8;}
.bg4 {background: #79b94b;}



#newsphoto .newstitle {width: 100%;height: 40px;line-height: 40px;display:block;background: #666;color:#fff;opacity: .75;padding-left: 8px;overflow:hidden; text-overflow:ellipsis;white-space: nowrap;padding-right: 60px;}

#newsphoto .flex-control-nav {text-align: right;right: 10px;bottom: 16px;}
#newsphoto .flex-control-paging li a {width: 8px; height: 8px;font-size: 0; display: block; background: #eee; background: rgba(255,255,255,0.8); cursor: pointer; text-indent: -9999px;border-radius: 8px;}
#newsphoto .flex-control-paging li a.flex-active { background: #39a0ce; cursor: default; }

.hotnews {border: 1px solid #ccc;margin-top: 20px;background: #f3f3f3;padding: 8px 8px 9px 8px;}
.hotnews h4 {font-size: 14px;font-weight: 600;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin: 4px 0 !important;}
.hotnews h4 span {border-left: 2px solid #ca0520;padding-left: 8px;}
.hotnews p {margin-bottom: 0;overflow: hidden;text-overflow: ellipsis;display: box;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.hotnews p em {color: #999;margin-right: 1em;}

#newsbox {margin-top: 14px;}
#newsbox ul {margin-top: 12px;margin-bottom: 0 !important;}
#newsbox ul li {position: relative;border-bottom: 1px dotted #ccc;overflow:hidden;padding: 2px 0;white-space:nowrap;text-overflow:ellipsis;padding-right: 90px;}
#newsbox ul li span {position: absolute;top: 3px;right: 0;color: #999;font-size: 12px;}
#newsbox ul li i {color: #ca0520;margin-right: .5em;}

#newsbox.content-box h3 {height: 40px;line-height: 40px;background: #eee;border-bottom: 1px solid #ccc;}
#newsbox.content-box h3 a {text-align: center;z-index: 200;width: 25%;margin: 0;padding: 0;float: left;display: block;}
#newsbox.content-box h3 a span {border-bottom: none;color: #333;margin-right: 1em;font-weight: 400;display: block;width: 100%;margin: 0;padding: 0;}
#newsbox.content-box h3 a.selected span,#newsbox.content-box h3 a.selected:hover span {border-top: 2px solid #ca0520;color: #ca0520;font-weight: 600;background: #fff;}

.login-box {border: 1px solid #f90;background: #f3f3f3;}
.login-box h3 {font-size: 16px;margin: 0 !important;height: 32px;display: block;background-repeat: no-repeat;background-color: #f79e00;}
.login-box h3 span {display: none;}
.login-box p {margin-bottom: 4px;font-size: 12px;}
.login-box p a {margin: 0 4px;}
.login-box .form {padding: 6px 10px;font-size: 14px;}

.btn-warning {background: #f90;}
.login-box .btn {font-size: 14px;}

.xmore {margin-top: 6px;}
.xmore a {color: #c00;}
.xmore a:hover {color: #333;}

/* ---------- 版权信息 ---------- */
#footer {height: 40px;display: block;line-height: 40px;clear: both;}
#footer .cdark {background: #666;color: #fff;margin-bottom: 10px;width: 25%;}
#footer .cgray {background: #ccc;color: #333;margin-bottom: 10px;width: 75%;}
#footer strong {margin-left: 4px;}
#footer a {color: #ca0520;}
#footer a:hover {color: #444;}
#footer p {color: #c00;}


/* ---------- 二级页面 ---------- */

/* -- 二级导航 -- */

#page-menu {height: auto;border: 2px solid #ca0520;}
.page-menu-head h3 {color: #fff;font-size: 16px;margin-bottom: 4px;margin-top: 0;font-weight: 600;background: #ca0520;padding: 6px 0;text-align: center;}
.page-menu-head h3 a.norcolor {color: #333;}
.page-menu-head h3 a.norcolor:hover {color: #39a0ce;}
.page-menu-head span {display: block;color: #999;font-size: 11px;font-weight: 300;}
.page-menu-body ul {list-style: none;margin-bottom: 0;}
.page-menu-body ul li {position: relative;font-size: 16px;text-align: center;border-top: 1px solid #ccc;}
.page-menu-body ul li:first-child {border-top: 0;}
.page-menu-body ul li i {position: absolute;top: 10px;right: 6px;font-size: 14px;color: #ca0520;display: none;}
.page-menu-body ul li a {padding: 8px 0;text-decoration: none;color: #666;display: block;}
.page-menu-body ul li a:hover {background: #eee;}
.page-menu-body ul li a:hover span {margin-left: 1em;}
.page-menu-body ul li.current a:hover {background: transparent;}
.page-menu-body ul li.current a:hover span {margin-left: 0;color: #39a0ce;}
.page-menu-body ul li.current a,.page-menu-body ul li.current a:hover {color: #39a0ce;background: url(../images/page-menubg.png) repeat-x;}
.page-menu-body ul li.current i {display: block;}

#page-menu ul li a,
#page-menu ul li a span {
	-webkit-transition: background .2s ease-in-out,color .2s ease-in-out,margin .2s ease-in-out;
	-o-transition: background .2s ease-in-out,color .2s ease-in-out,margin .2s ease-in-out;
	transition: background .2s ease-in-out,color .2s ease-in-out,margin .2s ease-in-out;
}


/* -- 当前位置 -- */
.page-here {padding: 12px 0;background: transparent;border: 0;margin-bottom: 10px;position: relative;z-index: 50;}
.page-here p {margin-bottom: 0;color: #666;}
.page-here p a {color: #666;margin: 0 6px;}
.page-here p a:hover {color: #ca0520;}
.page-here p span {margin-right: 1em;}
.page-here p i {margin: 0 6px;}

/* -- 内容页 -- */
#page-content {position: relative;}
#page-content .col_four_fifth {width: 77.6%;margin-left: 4%;}

.page-conbox {clear: both;}
.page-conbox p {font-size: 16px;}
.page-conbox pre,.page-conbox blockquote {background: #f3f3f3;border-left: 4px solid #ccc;padding: 1em;font-size: 16px;}
.page-conbox img {margin: 1em 0;max-width: 100%;border-radius: 6px;padding: 0 !important;}
.page-conbox table {border-collapse:collapse;}
.page-conbox td {border:1px solid #000;padding:6px;}
.page-conbox img[src*="fileTypeImages"] {display: inline-block;margin-right: 2px;width: 14px !important;height: 14px !important;}

.page-conbox p.textindent {text-indent: 2em !important;}

.page-header {margin-top: 6px;border-bottom: 1px solid #ccc;}
.page-header h1,.page-header h2,.page-header h3,.page-header h4,.page-header h5,.page-header h6 {margin-bottom: 0;margin-top: 0;color: #39a0ce;font-weight: 400;}
.page-header.list-header {border-bottom: 3px solid #ccc;}
.page-header.list-header h2 span {border-bottom: 3px solid #39a0ce;padding-bottom: 14px;}
.page-header p {color: #999;margin-bottom: 0;}
.page-header p span {color: #777;margin-right: 1em;}
.page-header h3 {font-size:20px;}

.page-gallery .col_one_fourth {position: relative;margin-bottom: 40px !important;}
.page-gallery .col_one_fourth span {position: absolute;display: block;z-index: 10;text-align: center;bottom: 0;}
.page-gallery .col_one_fourth a span {background: #666;color: #fff;width: 100%;opacity: .8;height: 40px;line-height: 40px;}
.page-gallery .col_one_fourth a {display: block;
}
.page-gallery .col_one_fourth a:hover span {background: #ca0520;
	-webkit-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;}
.page-gallery .col_one_fourth img {width: 100%;}
.page-gallery .col_one_fourth a:hover img {opacity: .8;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.page-gallery .col_one_third {position: relative;margin-bottom: 60px !important;}
.page-gallery .col_one_third span {position: absolute;display: block;z-index: 10;text-align: center;font-size: 14px;}
.page-gallery .col_one_third a span {color: #333;height: 40px;line-height: 40px;width: 100%;}
.page-gallery .col_one_third a {display: block;}
.page-gallery .col_one_third a:hover span {color: #39a0ce;-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;}
.page-gallery .col_one_third img {width: 100%;border-radius: 5px;}
.page-gallery .col_one_third a:hover img {opacity: .8;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}


.page-listcon {clear: both;}
.page-listcon ul,.page-listcon li {list-style: none;}
.page-listcon li {border-bottom:1px solid #eee;position: relative;font-size: 14px;}
.page-listcon li i {margin-right: .5em;font-size: 10px;position: absolute;top: 10px;left: 4px;}
.page-listcon li a {color: #333;display: block;padding: 8px 10px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;padding-right: 100px;padding-left: 20px;}
.page-listcon li a:hover {background: #f3f3f3;color: #39a0ce;-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;}
.page-listcon li span {font-size: 12px;color: #999;}
.page-listcon li span.listdate {position: absolute;top:12px;right: 10px;}
.page-listcon li span.listdate i {width: 16px;height:16px;line-height:16px;border-radius: 4px;background: #c00;padding-right: 0;color: #fff;padding: 0;text-align: center;font-size: 14px;margin-left: 1em;}
.page-listcon li span.listdate i:hover {background: #0254a6;-webkit-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;}
	
.link-list li {width: 50%;float: left;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
	
#dituContent {border-radius: 30px;}
.page-contact p {margin-bottom: 10px;font-size: 14px;}
.page-contact p strong {color: #0254a6;}

/* 翻页 */
.pagenav {clear:both;background:url(../images/navbgx2.png) repeat;padding:6px 0;}
.pagenav span {color:#655545;margin:0 2px;line-height:20px;height:20px;}
.pagenav input {width:30px;border:1px solid #ccc;color:#c60;font-weight:400;background:#fff;font-weight:800;}
.pagenav a {background:#eee;color:#c60;padding:2px 6px;font-weight:400;}
.pagenav a:hover {background:#7E6856;color:#fff;text-decoration:none;}
.pagenav a.pageinput {width:30px;padding:2px 6px;background:#f90;color:#fff;}
.pagenav a.pageinput:hover {background:#c60;color:#ccc;}
.pagenav span.pageon {color:#fff;font-weight:800;padding:0 6px;background:#c60;}

.pagenav span.pagenum {float:right;}
.pagenav span.pagenum a,.pagenav span.pagenum span {float:left;width:auto;margin:0 2px;padding:0 6px;}
.pagenav span.pagenum a.pageinput {padding:0 6px;}

/* Print */
@media print {
	
	#footer {border-top: 1px solid #ccc;}
	p {font-size:1.5em !important;}
	h1 {font-size: 4em !important;}
	h2 {font-size: 3em !important;}
	h3 {font-size: 2.4em !important;}
	h4 {font-size: 1.8em !important;}
	h5,h6 {font-size: 1.5em !important;}
	#page-menu,.datetime {display: none;}
	
}

/* Slider Caption
-----------------------------------------------------------------*/

.flexslider li .meta {
		position: absolute;
		top: 50%;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.flexslider li h2 {
		font-size: 1.8em;
		margin-top: 2em;
		font-weight: 300;
		margin-bottom: 0;
}
.flexslider .meta.dark h2 {color: #fff;}

.flexslider li p {
		background: #df0024;
		font-size: 1.8em;
		padding: 4px 16px;
		font-weight: 400;
		border-radius: 5px;
		margin-top: 0;
}

.flexslider li h2,
.flexslider li p{
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOutUp;
		animation-name: fadeOutUp;
}

.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta p {
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInUp;
		animation-name: fadeInUp;
}

.flexslider li.flex-active-slide .meta h2 {
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta p {
		-webkit-animation-delay: .8s;
		animation-delay: .8s;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

/* Loading */
/* Loading spinner */

.loading {
	border: 6px solid rgba(100, 100, 100, .4);
	border-top: 6px solid rgba(0, 0, 0, .6);
	border-radius: 100%;
	height: 50px;
	width: 50px;
	animation: loading-rotate .8s infinite linear;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	z-index: 9999;
}

@keyframes loading-rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}















